header {   
    border: 3px solid black;
    padding: 2px;
    background-color: antiquewhite;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header * {
    display: inline-block;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: brown;
}

header li {
    margin: 20px;
    font-size: 20px;
}

header a {
    font-family: Arial, Helvetica, sans-serif;
    width: 140px;
    height: 25px;
    background: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
}

header img {
    height: 80px;
}

body {
    background-color: antiquewhite;
}

.token {
    height: 17px;
    width: 17px;
}

.project {
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 150px;
    padding-left: 20px;   
    padding-right: 20px;
    margin-right: 320px;
    margin-left: 320px;
    background-color: aliceblue;
    border: 2px solid black;
    text-align: center;
}

h1, p {
    background-color: white;
    border:  2px solid black;
}

.d-image {
    max-width: 255px;
    height: auto;
    float: right;
    align-items: center;
    margin-top: 10px;
    border: 2px solid black;
}

.description {
    float: left;
    max-width: 50%;
}
