header {   
    border: 3px solid black;
    padding: 2px;
    background-color: antiquewhite;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

a:link, a:visited {
    color: black;
}

a:hover {
    color: brown;
}

header li {
    margin: 20px;
    font-size: 40px;
}

header a {
    font-family: 'Times New Roman', Times, serif;
}

header img {
    height: 80px;
}